.homeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.homeForm {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.homeForm>img {
  height: 100px;
  margin-bottom: 30px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #8a49ff;
}

.homeInputGroup {
  display: flex;
  flex-direction: column;
}

.homeMainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.joinBtn {
  background: #8a1fd4;
  color: white;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #8a49ff;
}

.createInfo {
  margin: 0 auto 0 auto;
  margin-top: 20px;
}

.createNewRoom {
  color: #8a49ff;
  text-decoration: none;
  border-bottom: 1px solid #8a1fd4;
  transition: all 0.3s ease-in-out;
}

.createNewRoom:hover,
footer a:hover {

  color: #8a1fd4;
  border-color: #8a1fd4;
}


.editorPageParentWrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.leftBoxWrap {
  background: #1c1e29;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.leftBoxInnerWrap {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.editorLogoImage {
  height: 80px;
  display: block;
  margin: auto;
}

.rightBoxWrapEditor {
  background: white;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
  background: #8a1fd4;
  color: white;
}

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}